//------------ LAYOUTS ---------//

// Breakpoints for different device sizes
$breakpoints: (
  mobile: 480px,
  tablet: 768px,
  desktop: 1200px,
);

// Mixin for responsive styles based on device breakpoints
@mixin responsive($device) {
  @if map-has-key($breakpoints, $device) {
    @media (min-width: #{map-get($breakpoints, $device)}) {
      @content; 
    }
  } @else {
    @error "Invalid breakpoint: #{$device}. Please use one of: #{map-keys($breakpoints)}.";
  }
}