.home {
  padding: 10rem;

  &--title {
    font-weight: 500;
    font-size: clamp(3rem, 15vw, 6rem);
    margin-bottom: 2rem;
  }

  &--intro {
    font-weight: 400;
    width: 70%;
    font-size: clamp(1.2rem, 3vw, 2rem);
    line-height: 35px;
  }

  &--challenges {
    padding: 5rem 0;
  }
}
